/* Default Header */
header {
    background-color: transparent;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 50%; /* Move to the center */
    transform: translateX(-50%); /* Center the element */
    width: 80%; /* Smaller default width */
    max-width: 1200px; /* Limit max width */
    z-index: 100;
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 10px;
  }‍
  
  /* Scrolled Header */
  header.scrolled {
    background-color: #a8d5ba; /* Light green background */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 2px solid #4caf50;
    width: 60%; /* Smaller width when scrolled */
    max-width: 800px; /* Limit the max width */
    left: 50%; /* Keep centered */
    transform: translateX(-50%); /* Keep it centered even when it shrinks */
  }
  /* Hidden Header */
  header.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out; /* Smooth hide/show transition */
  }
  
  /* Navigation link styling */
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #2e7d32;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  nav a.active {
    font-weight: bold;
    color: #1b5e20;
  }
  
  header.scrolled nav a {
    color: #388e3c;
  }
  
  nav a:hover {
    color: #1b5e20;
  }
  
  /* The switch - the box around the slider */
  .switch {
      position: relative;
      display: inline-block;
      width: 42px;
      height: 20px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .3s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 15px;
      width: 15px;
      left: 1px;
      bottom: 3px;
      background-color: rgb(104, 162, 129);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #bad3e9;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 30px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }