<section class="about">






    <header>
      <h1>I'm Farnoush Mehraban.</h1>
      <p>Currently based in Australia/Melbourne</p>
    </header>
    
    <div class="profile-container">
      <img src="IMG_9957.jpg" alt="Farnoush Mehraban" class="profile-image" />
      
      <div class="profile-description">
        <p>
            I'm a second-year student at Monash University studying Bachelor of Advanced computer science.
            I have worked with diffrent programming languages such as Python, JavaScript, TypeScript, Java, C++ ,and Haskell.
            Also, worked with diffrent frameworks such as Angular CLI, Node.js, and Express.js as a Full stack developer.
        </p>
        <p>
          Today, I focus on learning about AI, automotive technology, and building scalable software solutions. I'm eager to contribute to meaningful projects and grow professionally.
        </p>
      </div>
    </div>
  </section>
  <section class="job-timeline">
    <div class="job-item cubic">
      <h3>Bachelor Computer Scienece</h3>
      <p>Monash University /Melb</p>
      <span>2023 -26</span>
    </div>
  
    <div class="job-item dotfusion">
      <h3>Freelance </h3>
      <p> Design / Web Dev</p>
      <span>2023-24</span>
    </div>
  
  </section>
  <!-- New Paragraph Section -->

<section class="life-summary">
  <h2>Skills Overview</h2>
  <div class="skills-section">
    <h3>programming languages</h3>
    <div class="skills-grid">
      <div class="skill-box">Python</div>
      <div class="skill-box">JavaScript</div>
      <div class="skill-box">TypeScript</div>
      <div class="skill-box">Java</div>
      <div class="skill-box">C++</div>
      <div class="skill-box">Haskell</div>
    </div>

    <h3>Frameworks</h3>
    <div class="skills-grid">
      <div class="skill-box">Angular CLI</div>
      <div class="skill-box">Node.js</div>
      <div class="skill-box">Express.js</div>
    </div>
  </div>

  <p>
    My current interests lie in artificial intelligence and automotive technology, where I’m keen on developing scalable
    solutions that can make an impact in the tech world. I continue to explore new areas and strive to grow both personally and
    professionally. My journey is one filled with constant learning, adaptability, and an insatiable curiosity for all things tech.
  </p>
</section>
