<div class="contact-container">
    <h1 class="contact-title">Contact Me</h1>
    <p class="contact-description">
      Connect with me through the following options:
    </p>
  
    <div class="contact-grid">
      <!-- LinkedIn -->
      <div class="contact-item">
        <a href="https://www.linkedin.com/in/farnoush-mehrban-a409b1213" target="_blank">
          <i class="fa fa-linkedin"></i>
          <p>LinkedIn</p>
        </a>
      </div>
  
      <div class="contact-item email">
        <a href="mailto:farnooshmehrban&#64;gmail.com">
          <i class="fa fa-envelope"></i>
          <p>Email: farnooshmehrban&#64;gmail.com</p>
        </a>
      </div>
      
      
  
      <!-- Phone -->
      <div class="contact-item">
        <a href="tel:+123456789">
          <i class="fa fa-phone"></i>
          <p>Phone: +61450358803</p>
        </a>
      </div>
  
      <!-- CV Download -->
      <div class="contact-item">
        <a href="/farnoushmehrbancv.pdf" download>
          <i class="fa fa-file"></i>
          <p>Download CV</p>
        </a>
      </div>
    </div>
  </div>
  